[submodule "mikumarisecnd-ex.srcs/sources_1/mikumari"]
	path = mikumarisecnd-ex.srcs/sources_1/mikumari
	url = https://github.com/RyotaroHonda/mikumari.git
[submodule "mikumarisecnd-ex.srcs/sources_1/sitcp"]
	path = mikumarisecnd-ex.srcs/sources_1/sitcp
	url = https://github.com/BeeBeansTechnologies/SiTCP_Netlist_for_Kintex7.git
